* {padding: 0; margin: 0; list-style: none; box-sizing: border-box;}

.list {
    overflow: hidden;
    width: 1020px;
    margin: 0 auto;
}
.list .music {
    float: left;
    width: 480px;
    height: 310px;
    overflow: hidden;
}
.list .image {
    float: left;
    border: 1px solid #777;
    width: 236px;
    height: 310px;
    margin-left: 8px;
}
.list .user {
    float: left;
    width: 280px;
    height: 310px;
    margin-left: 8px;
    overflow: hidden;
}

.music .musicImg {
    float: left;
    width: 33.3333%;
    border: 1px solid #777;
    height: 155px;
    box-sizing: border-box;
}

.user .join {
    border: 1px solid #777;
    height: 147px;
    margin-bottom: 8px;
    overflow: hidden;
    box-sizing: border-box;
}
.user .blank {
    border: 1px solid #777;
    height: 50%;
    box-sizing: border-box;
}

.join .left {
    float: left;
    font-size: 10px;
    color: darkgrey;
    margin-top: 30px;
    margin-left: 20px;
}
.join .right {
    float: right;
    font-size: 10px;
    text-decoration: none;
    color: darkgrey;
    margin-top: 30px;
    margin-right: 20px;
}
.loginButton {
    background-color: #00d344;
    border: none;
    color: white;
    width: 250px;
    height: 40px;
    margin-top: 8px;
    cursor: pointer;
}

.join .loginAlign {
    text-align: center;
}
