
* {padding: 0; margin: 0; list-style: none; box-sizing: border-box;}
img {max-width: 100%; height: auto;}
body {width: 100%; min-height: 320px;}

.container .row {overflow: hidden; }
.container .row .prod-image {float: left; width: 50%; }
.container .row .prod-content {float: left; padding: 0 15px; }

.container .row .prod-info {
    min-height: 345px;
    border-bottom: #999;
}
.container .row .prod-content p {
    margin-bottom: 10px;
}


.container .row .prod-detail .check {overflow: hidden; }
.container .row .prod-detail .submit {overflow: hidden; }
.container .row .prod-detail .left {float: left;}
.container .row .prod-detail .right {float: right;}

.container .prod-detail button {
    width: 50%;
    height: 60px;
    border-radius: 0;
}

#product .container h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
#product .container h2 span {
    font-size: 16px;
    color: #999;
}

#product .container .title {
    font-size: 24px;
}
#product .container .price {
    font-weight: bold;
    font-size: 30px;
    padding: 10px 0;
    border-bottom: #999;
    border-top: #999;
}
#product .container .deli {
    font-size: 14px;
    color: #999;
    border-bottom: none;
}
#product .container .check .left {
    font-size: 18px;
    line-height: 50px;
}
#product .container .check .right {
    font-size: 30px;
    font-weight: bold;
}

/* 댓글 */
#reply .container .reply {
    background-color: #f5f5f5;
    border: 1px solid #777;
    padding: 15px;
    padding-left: 60px;
    position: relative;
}
#reply .container .reply .image {
    position: absolute;
    top: 15px;
    left: 15px;
}
#reply .container .reply .inputComment {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 60px;
    width: 100%;
    resize: vertical;
    height: 50px;
}